@import url('https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display|Raleway');

body {
    margin: 0px;
    padding: 0px;
}

header {
    width: 100%;
    height: 60vh;
    background-image: url(/images/Hero.png);
    background-size: cover;
    position: relative;
    box-shadow: 0 -30px 60px #ffffff inset;
}

.banner-img {
    display: block;    /* To take off a bottom margin the images tags have by default*/ 
    width: 100%;
    max-width: 100%;
}

.navbar-container {
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    position: absolute;    /*To put over its sibling tag (banner-img) */
    top: 20px;
}

.navbar-container h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    width: 10%;
}

.navbar {
    width: 50%;
}
.menu {
    padding-left: 0px;
    margin-top: 6px;
    margin-bottom: 0px;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.menu li {
    align-content: center;
    margin-left: 25px;
}
.menu a {
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 0.88em;
}

.white-background {
    height: 40vh;
}

.about {
    height: 90px;
    background-color: red;
    text-align: center;
}

.about span {
    font-family: 'Montserrat', sans-serif;
    font-size: 73px;
    font-weight: bold;
}
.boards {
    /* position: absolute; */
    /* top: 100px; */
    /* left: 20px; */
    width: 500px;
    height: 300px;
    background-color: yellow;
}